$choosen-border-color: #333;
$standard-border-colrgb: rgb(54, 194, 189); // в лист
.filter_icon_container {
  background: url(../../assets/bg/background63.png);
  width: 4%;
  z-index: 3;
}
.filter_btn {
  width: 100%;
  padding: 0;
}
.filter_btn svg {
  width: 100%;
  stroke: $choosen-border-color;
}
.filter_container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: flex-start;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: absolute;
  left: -100%;
  transition: all 0.2s linear;
  z-index: 2;

  p {
    font-size: 1.2rem;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

.setFilter_btn {
  margin: 0 auto;
}

.show_filter_container {
  left: 0;
}
