.overlay_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.346);
  top: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
}

.failed_validate {
  background-color: rgba(255, 75, 120, 0.39);
}
