$choosen-border-color: #333; // в лист
$choosen-bg-color: #d8d8d8; // в лист
$standard-bg-color: #f5f5f5; //в лист
$standard-border-colrgb: rgb(54, 194, 189); // в лист
$red-color: rgb(255, 0, 106);
$main-bg-color: white;
$border-indent: 5%;

main {
  display: flex;
  height: 80vh;
  overflow-y: hidden;
  max-width: 1200px;
  margin: 1rem auto 0 auto;
}

.filet_and_subject_container {
  position: relative;
  width: 30%;
}

.trainer_container {
  position: relative;
  width: 66%;
  box-sizing: border-box;
  padding: 0 1rem;
  background-color: #ffffff;
  overflow: auto;
}
.choose_trainer_message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.submit_btn,
.next_btn {
  display: block;
  background-color: $standard-border-colrgb;
  border-radius: 0.5rem;
  padding: 0.7rem;
}

.btns_qa_container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.task_form {
  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-top: 0.7rem;
    border-top: 1px solid $standard-border-colrgb;
    font-size: 1.2rem;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h2:first-of-type {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }

  label {
    padding-right: 1.5rem;
    margin-top: 0.5rem;
  }
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  line-height: 1.4rem;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 4px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid $standard-border-colrgb;
  border-bottom: 4px solid $standard-border-colrgb;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $standard-border-colrgb;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}

.trainer_message {
  color: $standard-border-colrgb;
}

.error_message {
  color: $red-color;
}

.trainer_message,
.error_message {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
