$choosen-border-color: #333; // в лист
$choosen-bg-color: #d8d8d8; // в лист
$standard-bg-color: #f5f5f5; //в лист
$standard-border-colrgb: rgb(54, 194, 189); // в лист
$red-color: rgb(255, 0, 106);

$border-indent: 5%;

main {
  display: flex;
  height: 80vh;
  overflow-y: hidden;
  max-width: 1200px;
  margin: 1rem auto 0 auto;
  background: url(../../assets/bg/background63.png);
  border-radius: 0.5rem;
  box-shadow: 0 0 15px #5052543a;
  padding: 0.7rem;
  padding-left: 0;
}

.filet_and_subject_container {
  position: relative;
  width: 30%;
}
.exercise_container {
  background-color: #fff;
  padding: 0.7rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.4rem rgba(4, 178, 169, 0.317);
}
.exercise_container:first-child {
  margin-top: 0.4rem;
}
.trainer_container {
  width: 66%;
  box-sizing: border-box;
  padding: 0 0.7rem;
  background: url(../../assets/bg/background63.png);

  overflow: auto;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.trainer_container_with_form {
  justify-content: flex-start;
}

.submit_btn,
.next_btn,
.login_btn,
.exit_profile_btn,
.registration_btn {
  display: block;
  border-radius: 0.5rem;
  padding: 0.7rem;
  background: linear-gradient(90deg, rgb(197, 247, 251), rgb(198, 252, 221));
  border: 2px solid rgba(54, 194, 189, 0.541);
  transition: box-shadow 0.5s;
}
.submit_btn:hover,
.next_btn:hover,
.login_btn:hover,
.exit_profile_btn:hover,
.registration_btn:hover {
  box-shadow: 0 0 10px 0px $standard-border-colrgb;
}

.btns_qa_container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.task_form {
  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  label {
    padding-right: 1.5rem;
    margin-top: 0.5rem;
  }
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  line-height: 1.4rem;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #a3a3a363;
  background-color: #ffffff;
  transition: border 0.5s;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  border-color: $standard-border-colrgb;
}

input[type="checkbox"]:hover + label:before,
input[type="radio"]:hover + label:before {
  border-color: $standard-border-colrgb;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 5px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid $standard-border-colrgb;
  border-bottom: 4px solid $standard-border-colrgb;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $standard-border-colrgb;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}

.trainer_message {
  color: $standard-border-colrgb;
}

.error_message {
  color: $red-color;
}

.trainer_message,
.error_message {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
